body {
    background-color: #204AC8;
}

.area-total-logo {
    text-align: center;
    margin-top: 230px;
}

form {
    text-align: center;
}

input {
    border-radius: 51px;
    border: 0px none;
    width: 25%;
    height: 35px;
}

input::placeholder {
    text-align: center;
}

.esqueceu_a_senha {
    color: #EBE815;
}

a {
    color: #EBE815;
}

button {
    border-radius: 51px;
    border: 0px none;
    width: 9%;
    height: 35px;
    background: #EA222F;
    color: white;
    padding: auto;
    margin: 5px;
}